<div class="card mb-4 shadow-sm">
    <img  class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://i.pinimg.com/236x/60/48/5c/60485c2abba825634328fe58c1c7c71c--romantic-dinner-recipes-romantic-dinners.jpg" alt="">
    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->

    <div class="card-body">
        <h3>sdfdsfsdfdsvsdfsvs sd</h3>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">To Shopping List</button>
          <button type="button" class="btn btn-secondary">Manage Recipe</button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-expanded="false" data-reference="parent">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
      <a class="dropdown-item" href="#">Edit Recipe</a>
      <a class="dropdown-item" href="#">Delete Recipe</a>
    </div>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>