<div class="container bg-white shadow-sm">
    <div class="px-4 py-5 my-5">
        <div class="row mx-0">
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="bg-transparent border-0 card-header px-0"><label class="font-weight-light h3 m-0 text-secondary">Recipet List</label> <i class="fa-arrow-right fas position-relative px-2 text-primary" [ngStyle]="{bottom: '2px'}"></i></div>
                    <div class="card-body border-0 p-0">
                        <app-recipe-list></app-recipe-list>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0">
                    <div class="bg-transparent border-0 card-header px-0"><label class="font-weight-light h3 m-0 text-secondary">Recipet Details</label> <i class="fa-arrow-right fas position-relative px-2 text-primary" [ngStyle]="{bottom: '2px'}"></i></div>
                    <div class="card-body border-0 p-0">
                        <app-recipe-detail></app-recipe-detail>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>